*{
    box-sizing: border-box;
}

:root{
    font-size:62.5%;
}

body{
    font-size:1.6rem;
    font-family: "Poppins",sans-serif;
}

a{
    color:#000;
    text-decoration: none;
}

/* ---------------------------- Main Container -------------------------------------------- */